<ion-header>
  <ion-toolbar>
    <ion-title>Weather App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item>
    <ion-input [(ngModel)]="city" placeholder="Enter city"></ion-input>
  </ion-item>
  <ion-button expand="full" (click)="getWeather()">Get Weather</ion-button>
  <ion-button expand="full" color="success" (click)="addFavorite()">Add to Favorites</ion-button>

  <div *ngIf="weatherData">
    <h2>{{ weatherData.name }}</h2>
    <p>Temperature: {{ weatherData.main.temp }} °C</p>
    <p>Condition: {{ weatherData.weather[0].description }}</p>
  </div>

  <ion-list>
    <ion-list-header>Favorites</ion-list-header>
    <ion-item button *ngFor="let fav of favorites" (click)="selectFavorite(fav)">
      {{ fav }}
    </ion-item>
  </ion-list>

</ion-content>
